form{
    width: 60%;
    border:solid 1px;
    padding: 10px;
    margin-left: 15%;
}

input{
    width: 95%;
    margin:2% 0;
    padding: 16px 5px;
}

button{
    padding: 12px 10px;
    width: 97%;
    border: none;
    background-color: rgb(139, 59, 138);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}